# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next/
/out/

# Production
/build

# Environment variables
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE and OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
